
<div class='anime_bar'>
    <ul>
        <li> All Animes </li>
        <li> Genre </li>
        <li> Popularity </li>
    </ul>
</div>

<div class="anime_list">
    <% @animes.each do |anime| %>
        <li><%= link_to anime.title, anime_path(anime) %></li>
        <div class="index-tile">
            <img class="index-img" src="<%=anime.poster_image%>" alt="" style="width:200px;height:175px;object-fit: cover;">
        </div>
    <%end%>
</div>