
 @import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
 
body {
    font-family: 'Sawarabi Mincho', sans-serif;
    color: white;
    background-color: #1f1a1aa;  
    background-image: url("https://images.unsplash.com/photo-1524802414218-3983cd08ed53?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
  }
 
.header{
  font-size 20px;
  display: inline-block;
  padding: 10px;

  border-radius: 8px;
  height: 112px;
  width: 95%;
  
  background-attachment: float; 
  background-position: 50% 82%;
}
 .nav {
  margin: 0px auto;
  margin-bottom: 10px;
  width: 95%;
  
  vertical-align: middle;
  border-radius: 5px;
  
  /* padding: 10px; */
  color: #a7abad;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3em;
}

.nav-ul li {
/* border: 1px solid black;   */
color: #0d4764;
padding: 0px 5px;
height: 60px;
line-height: 60px;
display: inline-block;
}

 .nav {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(97, 93, 93, 0);
}

 li .nav {
  color: white;
  float: left;
}
























.nav-ul li:hover {
  background-color: #21527a5d;
  transition-duration: .5s;
}

  /* Links */
  a {
    text-decoration: none;
    color: black
  }
  
