/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
    background-color: #ccc9c9a9;
    
}


/* Red Ed picture*/
.headerimage{
  display: inline-block;
  padding: 10px;

  border-radius: 8px;
  height: 112px;
  width: 95%;
  
  background-image: url("https://i.imgflip.com/4c2ehp.jpg");
  background-attachment: float; 
  background-position: 50% 82%;
}


/* .nav {
  display: inline-block;
  color: white;
  padding: 10px;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3em;
  
  /* background-image: url('https://cdn.clipart.email/7ed1ad5643ce02a4349117a4a19fd3ea_flat800x800070fjpg_800-214.jpeg');
  background-attachment: local;
  background-position: 65% 37%; 

  margin: 0px auto;
  margin-bottom: 10px;
  width: 95%;
  
  vertical-align: middle;
  border-radius: 5px;
} */

 .nav {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(163, 82, 82);
}

 li .nav {
  color: white;
  float: left;
}

 /* li .nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}  */

























/* Hover Feature */
  li:hover {
  background-color: #8b181ea8;
  transition-duration: .5s;
  }
  
  /* Links */
  a {
    text-decoration: none;
    color: black
  }
  
